<!DOCTYPE html>
<html>
<head>
    <title>Dev response</title>
    <style>
        body {
            padding: 30px;
        }
        .field {
            margin-bottom: 15px;
        }
        .label {
            font-weight: bold;
        }
        .block-text {
            height: 400px;
            width: 1000px;
            border: solid 1px black;
            overflow: scroll;
        }
    </style>
</head>
<body>
    <h1>We got a response!</h1>
    <div class="field">
        <span class="label">Response</span>
        <div class="block-text"><%=samlResponse%></div>
    </div>
    <div class="field">
        <span class="label">Relay state</span>
        <span><%=relayState%></span>
    </div>
</body>
</html>